body {
   background-color: rgb(22, 22, 22);
}

#left-container {
   width: 200px;
   font-family: "Roboto", sans-serif;
   margin: 12px;
   float: left;
   text-align: center;
   /*padding-left: 64px;
   padding-right: 64px;*/
   padding-top: 24px;
}

#header {
   font-family: 'Share Tech Mono', monospace;
   color: rgba(255, 255, 255, 0.25);
   font-size: 26px;
   margin-bottom: 30px;
   /*text-align: center;*/
}

.stat {
   color: rgba(255, 255, 255, 0.7);
   font-size: 14px;
   letter-spacing: 1px;
   margin-bottom: 8px;
   /*text-align: center;*/
}

.buttons {
   margin-top: 48px;
   margin-bottom: 48px;
}

.button {
   color: rgba(255, 255, 255, 0.5);
   font-family: "Roboto", sans-serif;
   font-size: 12px;
   text-align: center;
   border: 1px solid rgba(255, 255, 255, 0.2);
   padding: 6px;
   padding-left: 10px;
   padding-right: 10px;
   display: inline-block;
   cursor: pointer;
   border-radius: 3px;
}
.button:hover {
   color: rgba(255, 255, 255, 0.6);
   border: 1px solid rgba(255, 255, 255, 0.4);
}

#root {
   margin: 12px;
   margin-top: 18px;
   float: left;
   border: 1px solid rgb(30,30,30);
   /*outline: none;*/
   /*box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.05);*/
}

table {
   outline: none;
   /*margin: 0px auto;*/
   /*background-color: black;*/
   border: 1px solid #282828;
   /*border-radius: 10px;*/
   /*table-layout: fixed;*/
   border-spacing: 1px;
   border-collapse: collapse;
}

#gameTable {
   background-color: black;
}

#gameTable td {
   width: 25px;
   height: 25px;
   /* Below is for debug purposes */
   color: white;
   font-family: monospace;
   font-size: 8px;
   text-align: center;
}

#preview-container {
   /*border: 1px solid rgb(30,30,30);*/
   display: inline-table;
}

#previewTable {
   border: 1px solid rgb(20,20,20);  /* Can probably remove this */
}

#previewTable td {
   border: 1px solid rgb(20,20,20);
   width: 15px;
   height: 15px;
}

/* Might wanna do these colors in hex instead */
.I { background-color: turquoise; }
.J { background-color: royalblue; }
.L { background-color: orange; }
.O { background-color: greenyellow; }
.S { background-color: forestgreen; }
.T { background-color: darkorchid; }
.Z { background-color: crimson; }

#options-modal {
   background-color: #000;
   border-radius: 8px;
   border: 1px solid rgb(50,50,50);
   font-family: "Roboto", sans-serif;
   font-size: 12px;
   color: rgba(255, 255, 255, 0.7);
   visibility: hidden;
   position: absolute;
   left: 200px;
   top: 250px;
   width: 200px;
   height: 81px;
   padding: 8px;
   z-index: 1000;
}

label, input {
   vertical-align: middle;
}

label:hover {
   cursor: pointer;
}

#options-level {
   width: 38px;
}

form > div {
   margin: 4px;
   margin-bottom: 5px;
}

#hs-modal {
   background-color: #000;
   text-align: center;
   border-radius: 8px;
   border: 1px solid rgb(50,50,50);
   font-family: "Roboto", sans-serif;
   font-size: 12px;
   color: rgba(255, 255, 255, 0.7);
   visibility: hidden;
   position: absolute;
   left: 215px;
   top: 160px;
   width: 320px;
   height: 210px;
   padding: 12px;
   z-index: 1000;
}

#hs-header {
   text-align: center;
   font-size: 14px;
   font-weight: bold;
   letter-spacing: 1px;
   margin-top: 2px;
   margin-bottom: 13px;
}

#hs-table {
   width: 100%;
   margin-bottom: 8px;
   border: none;
   white-space: nowrap;
}

#hs-table > th {
   border: "2px solid red";
}

#name-modal {
   background-color: #000;
   border-radius: 8px;
   border: 1px solid rgb(50,50,50);
   font-family: "Roboto", sans-serif;
   font-size: 12px;
   color: rgba(255, 255, 255, 0.7);
   visibility: hidden;
   position: absolute;
   left: 305px;
   top: 240px;
   padding: 8px;
   z-index: 1000;
   padding-left:12px;
   padding-right:13px;
   padding-bottom: 13px;
}

#name-modal-header {
   font-size: 14px;
   font-weight: bold;
   letter-spacing: 1px;
   margin-top: 2px;
   margin-bottom: 12px;
   width: 100%;
   text-align: center;
}

#name-modal-msg {
   margin-bottom: 8px;
}

#name-modal input {
   width: 120px;
   vertical-align: middle;
   font-family: "Roboto", sans-serif;
   font-size: 12px;
}

#name-modal button {
   margin-left: 6px;
   vertical-align: middle;
   font-family: "Roboto", sans-serif;
   font-size: 12px;
}